@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  /*========== Colors ==========*/
  --color-primary: #63e6be;

  --color-grey-dark-1: #181a1d;
  --color-grey-dark-2: #262a2e;
  --color-grey-dark-3: #494e53;
  --color-grey-dark-4: #070809;

  --color-grey-light-1: #ebebec;
  --color-grey-light-2: #bcbcbd;

  --color-red: #ff3b30;
  --color-orange: #ff9500;
  --color-green: #4cd964;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
}

/*=============== BASE ===============*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: var(--body-font);
  font-weight: 300;
  background: var(--color-grey-dark-1);
  color: var(--color-grey-light-1);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.section {
  padding-top: 5rem;
  min-height: 80vh;
  margin: 1rem;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
}

.heading-1 {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.3;
}

.heading-2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 767px) {
  .heading-1 {
    font-size: 36px;
  }
}

/*=============== LOADER ===============*/
.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-grey-dark-1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fondu-out {
  display: none;
  transition: all 0.4s ease-out;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.4s;
  background-color: var(--color-grey-dark-1);
  padding: 0 0.5rem;
  z-index: 10;
}

/*=============== NAV ===============*/
.nav {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo img {
  height: 3rem;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background: var(--color-grey-dark-1);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    box-shadow: 0 -1px 15px rgba(14, 62, 58, 0.15);

    display: grid;
    align-items: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: 0.4s;
    overflow: hidden;
  }
}

.nav__list,
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 0.25rem;
  font-weight: 600;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: 10px;
  color: var(--color-grey-light-1);
  display: none;
}

.nav__icon {
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  background: linear-gradient(145deg, #1d1f22, #141518);
  border-radius: 100%;
  box-shadow: 6.91px 6.91px 15px #16181a, -6.91px -6.91px 15px #1a1c20;
  color: #979797;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.active-link {
  position: relative;
  transition: 0.3s;
}

.active-link .nav__icon {
  background: linear-gradient(145deg, #141619, #1c1e21);
  border-radius: 100%;
  box-shadow: 6.91px 6.91px 15px #16181a, -6.91px -6.91px 15px #1a1c20;
  color: var(--color-primary);
}

.active-link .nav__name {
  color: var(--color-primary);
}

.scroll-header {
  box-shadow: 0 1px 12px rgba(14, 62, 58, 0.15);
}

/* MEDIA QUERIES */
@media screen and (min-width: 375px) {
  .nav__name {
    display: block;
  }
}

@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 767px) {
  .section {
    padding: 7rem 0 2rem;
  }

  .nav {
    height: calc(4rem + 1.5rem);
  }

  .nav__icon {
    display: none;
  }

  .nav__name {
    font-size: 16px;
  }

  .nav__link:hover {
    color: var(--color-blue);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin-inline: auto;
  }
}

/*=============== HOME SECTION ===============*/
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      to right bottom,
      rgba(33, 37, 41, 0.911),
      rgba(33, 37, 41, 0.925)
    ),
    url(../img/hero-background.jpg);
  background-position: center bottom;
  background-attachment: fixed;
  margin: 0;
  padding: 1rem;
  min-height: 100vh;
}

.home-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
}

.home-content {
  align-self: center;
}

.home-content .heading-1 {
  margin-bottom: 4rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1rem 2rem;
  color: var(--color-grey-light-1);

  background: #45a185;
  font-weight: 400;
  border-radius: 4px;

  transition: all 0.4s ease-in-out;
}

.btn:hover,
.btn:active {
  transform: translateY(-3px);
}

@media screen and (min-width: 700px) {
  .home-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*=============== ABOUT-ME SECTION ===============*/
.about-me-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.card {
  background: var(--color-grey-dark-2);
  border: 1px solid var(--color-grey-dark-3);
  border-radius: 4px;
  justify-self: center;
  transition: all 0.4s ease-in-out;
}

.card:hover {
  border: 1px solid var(--color-grey-light-1);
}

.card-window {
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.c-red {
  background-color: var(--color-red);
}

.c-orange {
  background-color: var(--color-orange);
}

.c-green {
  background-color: var(--color-green);
}

/* === PROFILE === */

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1.5rem;
}

.profile-name {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

.profile-job {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
  color: var(--color-primary);
  margin-bottom: 2rem;
}

.profile-desc {
  margin: 1rem;
}

/* === HOBBIES === */
.hobbies {
  display: flex;
  flex-direction: column;
  gap: 1fr;
}

.hobbies-title {
  margin-left: 1rem;
  font-size: 24px;
}

.hobby {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-primary);
}

.hobby:last-child {
  border-bottom: none;
}

.hobby-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.hobby-desc {
  font-weight: 400;
}

.hobby-desc span {
  font-size: 14px;
  color: var(--color-grey-light-2);
}

.hobby-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
}

/* === SKILLS === */
.skills {
  width: 100%;
  /* max-width: 300px; */
}

.skills-wrapper {
  margin: 1rem;
}

.skills-wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.skills-wrapper ul li {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 1rem;
}

.skill-name {
  font-size: 14px;
  font-weight: 400;
}

.skill-domain {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.bar {
  height: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #63e6beb3;
}

.bar span {
  height: 2px;
  float: left;
  background: var(--color-primary);
}

.bar-html {
  width: 95%;
}

.bar-css {
  width: 85%;
}

.bar-js {
  width: 75%;
}

.bar-react {
  width: 75%;
}

@media screen and (min-width: 582px) {
  .about-me-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .hobbies {
    grid-column: 2/3;
    grid-row: 1 / span 2;
  }
}

@media screen and (min-width: 1024px) {
  .about-me-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .hobbies {
    grid-column: 2/-1;
    grid-row: 1/3;
  }

  .hobbies-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 2rem 1rem;
  }

  .hobby {
    margin: 0;
    border: none;
  }
}

/*=============== PROJECTS SECTION ===============*/
.gallery-projects ul {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.list-tag {
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  border: 1px solid var(--color-grey-dark-3);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.list-tag:hover {
  box-shadow: 0 0 10px #45a185b3;
}

.list-tag.active-tag {
  background-color: var(--color-primary);
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}

.project {
  border-radius: 4px;
  border: 1px solid var(--color-grey-dark-3);
  background-color: var(--color-grey-dark-2);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project:hover {
  border: 1px solid var(--color-grey-light-1);
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.project-img {
  width: 100%;
  border-radius: 4px;
}

.project-title {
  font-size: 20px;
  font-weight: 700;
}

.project-desc {
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.project-btns {
  display: flex;
  gap: 1rem;
}

.btn-demo:link,
.btn-demo:visited,
.btn-code:link,
.btn-code:visited {
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  color: var(--color-grey-light-1);
  text-transform: uppercase;
  font-weight: 600;
}

.btn-demo:link,
.btn-demo:visited {
  background: #45a185;
  transition: all 0.4s ease-in-out;
}

.btn-demo:hover,
.btn-demo:active {
  transform: translateY(-3px);
  box-shadow: 0 0 15px #45a185b3;
  color: #fff;
}

.btn-code:link,
.btn-code:visited {
  transition: all 0.4s ease-in-out;
  border: 1px solid var(--color-grey-1);
}

.btn-code:hover,
.btn-code:active {
  transform: translateY(-3px);
  box-shadow: 0 0 15px #45a185b3;
  color: #fff;
}

.hide {
  display: none;
}

.active {
  display: block;
}

/*=============== FOOTER ===============*/
.footer {
  background-color: var(--color-grey-dark-4);
  margin-top: 5rem;
}

.footer .container {
  padding: 10rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.footer-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.footer-nav__item a:link,
.footer-nav__item a:visited {
  color: var(--color-grey-light-1);
  font-weight: 600;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
}

.footer-nav__item a:hover,
.footer-nav__item a:active {
  background-color: var(--color-grey-dark-1);
}

.social__title {
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}

.social__list {
  display: flex;
  gap: 1rem;
}

.social__list img {
  width: 2.5rem;
  cursor: pointer;
}

.created-footer {
  padding: 1rem;
  color: #6d6d6d;
  text-align: center;
  font-weight: 500;
}

.created-footer span {
  font-weight: 700;
}

@media screen and (min-width: 582px) {
  .footer .container {
    flex-direction: row;
    justify-content: space-around;
  }

  .footer-nav__list {
    align-items: flex-start;
  }
}
